.note.new-note{
    background-color: rgba(155, 171, 184, 1);
    margin-bottom: 1rem;
}

.text-area{
    border: none;
    resize: none;
    background-color: rgba(155, 171, 184, 1);
    &:focus{
      outline: none;
    }
  }

.save-button{
    border: 2px solid black;
    background-color: rgba(155, 171, 184, 1);;
    padding: .3rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    &:hover{
      background-color: rgba(237, 237, 237, 1);
      cursor: pointer;
    }
}
