.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(254, 246, 138, 1);
    padding: 1rem;
    min-height: 170px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    white-space: pre-wrap;
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-icon{
    size: 1.3em;
    cursor: pointer;
}
