body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(245, 245, 245, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  min-height: 100vh;

}
.dark-mode{
  background-color: rgba(34, 34, 34, 1);
}

.dark-mode h1{
  color: rgba(249, 245, 246), 1;
}
